In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.float_format = '{:,.2f}'.format

In [12]:
df = pd.read_csv('homeprices_multivariate.csv')

Here the price is dependent on many variables, so the price can be 
y = m1 x area + m2 x bedrooms + m3 x age

In [13]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [17]:
df['bedrooms'].fillna(median_bedrooms, inplace=True)
# Remember 'inplace = True'
df

   area  bedrooms  age   price
0  2600      3.00   20  550000
1  3000      4.00   15  565000
2  3200      4.00   18  610000
3  3600      3.00   30  595000
4  4000      5.00    8  760000
5  4100      6.00    8  810000

In [21]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)
reg.predict([[650, 2, 10]])

C:\Users\kshit\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([308624.17019734])