In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

%matplotlib inline 

COLOR = 'white'
plt.rcParams['text.color'] = COLOR
plt.rcParams['axes.labelcolor'] = COLOR
plt.rcParams['xtick.color'] = COLOR
plt.rcParams['ytick.color'] = COLOR

pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.float_format = '{:,.2f}'.format

In [27]:
flowers = load_iris()

In [28]:
iris = pd.DataFrame(flowers.data, columns= flowers.feature_names)

In [31]:
iris['target'] = flowers.target

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [33]:
iris['flower name'] = iris.target.apply(lambda x: flowers.target_names[x])
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower name
0,5.10,3.50,1.40,0.20,0,setosa
1,4.90,3.00,1.40,0.20,0,setosa
2,4.70,3.20,1.30,0.20,0,setosa
3,4.60,3.10,1.50,0.20,0,setosa
4,5.00,3.60,1.40,0.20,0,setosa
...,...,...,...,...,...,...
145,6.70,3.00,5.20,2.30,2,virginica
146,6.30,2.50,5.00,1.90,2,virginica
147,6.50,3.00,5.20,2.00,2,virginica
148,6.20,3.40,5.40,2.30,2,virginica
149,5.90,3.00,5.10,1.80,2,virginica

In [34]:
X = iris.drop(['target', 'flower name'],axis='columns')
y = iris.target

In [35]:
#  prepping for ml model

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 10)

In [36]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

1.0